<tr>
  <td class="stt"><%= month_counter + 1 %></td>
  <td><%= month.value %></td>
  <td>
    <%= link_to [:edit, month], title: t("months.titles.update"),
      class: "btn btn-warning" do %>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <% end %>
  </td>
  <td>
    <%= link_to month, method: :delete,
      title: t("months.titles.destroy"), class: "btn btn-danger",
      data: {confirm: t("app.confirmation")} do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
