<div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= t "months.titles.all" %></h3>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <div class="input-group-btn">
          <%= link_to t("months.titles.create"), new_month_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th><%= t "months.attributes.value" %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @months %>
      </tbody>
    </table>
  </div>
</div>
