<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header text-uppercase"><%= t "app.main_functions" %></li>
      <li>
        <%= link_to "#" do %>
          <i class="fa fa-book"></i>
          <span><%= t "sidebars.category" %></span>
        <% end %>
      </li>
    </ul>
  </section>
</aside>
