<div class="tab-pane fade" role="tabpanel" id="income-statistics" aria-labelledby="statistics-tab">
  <div id="statistics" data-statistics="<%= @income_statistics %>"
    data-type="incomes" data-date=<%= @month.first %>></div>
</div>
