<div class="tab-pane fade" role="tabpanel" id="outcome-statistics" aria-labelledby="statistics-tab">
  <div id="statistics" data-statistics="<%= @outcome_statistics %>"
    data-type="outcomes" data-date=<%= @month.first %>></div>
</div>
